html body {
	background: url(assets/tile.jpg) repeat;
	padding-top: 5%;
	font-family: Courier New;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor:
}

.logo {
	height: 0.95em;
	padding-bottom: 1.5%;
}

p#summary {
    font-size: 100%;
}

p#fb-link {
	font-size: 120%;
}